# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!app/code/community/Businessfactory/Roihuntereasy/**/
!app/code/community/Businessfactory/Roihuntereasy/**
!app/design/adminhtml/default/default/layout/businessfactory_roihuntereasy.xml
!app/design/adminhtml/default/default/template/businessfactory_roihuntereasy
!app/design/frontend/base/default/layout/businessfactory_roihuntereasy.xml
!app/design/frontend/base/default/template/businessfactory_roihuntereasy
!app/etc/modules/Businessfactory_Roihuntereasy.xml
# etc...

# ...even if they are in subdirectories