<?xml version="1.0"?>
<config>
    <modules>
        <Businessfactory_Roihuntereasy>
            <version>1.1.2</version>
        </Businessfactory_Roihuntereasy>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Businessfactory_Roihuntereasy after="Mage_Adminhtml">Businessfactory_Roihuntereasy</Businessfactory_Roihuntereasy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <businessfactory_roihuntereasy>
                    <file>businessfactory_roihuntereasy.xml</file>
                </businessfactory_roihuntereasy>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <businessfactory_roihuntereasy>
                <use>standard</use>
                <args>
                    <module>Businessfactory_Roihuntereasy</module>
                    <frontName>roihuntereasy</frontName>
                </args>
            </businessfactory_roihuntereasy>
        </routers>
        <layout>
            <updates>
                <businessfactory_roihuntereasy>
                    <file>businessfactory_roihuntereasy.xml</file>
                </businessfactory_roihuntereasy>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <businessfactory_roihuntereasy>
                        <class>businessfactory_roihuntereasy/addedToCartObserver</class>
                        <method>setRemarketingTag</method>
                    </businessfactory_roihuntereasy>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <businessfactory_roihuntereasy>
                        <class>businessfactory_roihuntereasy/checkoutObserver</class>
                        <method>setRemarketingTag</method>
                    </businessfactory_roihuntereasy>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <observers>
                        <businessfactory_roihuntereasy>
                            <class>businessfactory_roihuntereasy/checkoutObserver</class>
                            <method>setRemarketingTag</method>
                        </businessfactory_roihuntereasy>
                    </observers>                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <global>
        <models>
            <businessfactory_roihuntereasy>
                <class>Businessfactory_Roihuntereasy_Model</class>
                <resourceModel>businessfactory_roihuntereasy_resource</resourceModel>
            </businessfactory_roihuntereasy>
            <businessfactory_roihuntereasy_resource>
                <class>Businessfactory_Roihuntereasy_Model_Resource</class>
                <entities>
                    <main>
                        <table>businessfactory_roihuntereasy_main</table>
                    </main>
                </entities>
            </businessfactory_roihuntereasy_resource>
        </models>
        <resources>
            <businessfactory_roihuntereasy_setup>
                <setup>
                    <module>Businessfactory_Roihuntereasy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </businessfactory_roihuntereasy_setup>
            <businessfactory_roihuntereasy_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </businessfactory_roihuntereasy_read>
            <businessfactory_roihuntereasy_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </businessfactory_roihuntereasy_write>
        </resources>
        <blocks>
            <businessfactory_roihuntereasy>
                <class>Businessfactory_Roihuntereasy_Block</class>
            </businessfactory_roihuntereasy>
        </blocks>
        <helpers>
            <businessfactory_roihuntereasy>
                <class>Businessfactory_Roihuntereasy_Helper</class>
            </businessfactory_roihuntereasy>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <businessfactory_roihuntereasy_xml>
                <schedule><cron_expr>0 */2 * * *</cron_expr></schedule>
                <run><model>businessfactory_roihuntereasy/cron::scheduleFeed</model></run>
                <format>xml</format>
            </businessfactory_roihuntereasy_xml>
            <businessfactory_roihuntereasy_csv>
                <schedule><cron_expr>0 */2 * * *</cron_expr></schedule>
                <run><model>businessfactory_roihuntereasy/cron::scheduleFeed</model></run>
                <format>csv</format>
            </businessfactory_roihuntereasy_csv>
        </jobs>
    </crontab>
</config>